/* .overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 4rem;
    z-index: 50;
}

.content {
    position: relative;
    background-color: rgb(20, 20, 20);
    color: white;
    box-shadow:
        rgba(0, 0, 0, 0.2) 0px 2px 1px 1px,
        rgba(0, 0, 0, 0.14) 0px 1px 1px 0px,
        rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;

    background-image: linear-gradient(
        rgba(255, 255, 255, 0.05),
        rgba(255, 255, 255, 0.05)
    );
}

.modal-content {
    background-color: white;
    position: relative;
    max-height: 90vh;
    height: 90vh;
    overflow-y: auto;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
}

.modal-content::-webkit-scrollbar{
    width: 0;
}

.modal-content::-webkit-scrollbar-thumb{
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.close-button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    height: 1.5rem;
    width: 1rem;
    font-size: 1.2rem;
    top: 0.75rem;
    right: 0.75rem;
    background: black;
    color: white;
    border-radius: 50%;
    cursor: pointer;
    z-index: 50;
} */