@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.cdnfonts.com/css/sharp-sans');


body{
    background-color: #141414;
}


iframe{
    scale: 1.2;
}

@media (width < 768px) {
    iframe{
        scale: 2.2;
    }
}

